<h1 id="black">black <span id="slash">/</span> blue</h1>
<br>
<h3 id="subtitle">{ a brief disorientation guide }</h3>

<br>
<br>
<a href="#">
<div class="slice">
HISTORY
</div>
</a>

<a href="#">
<div class="slice">
GIEVANCES
</div>
</a>

<a href="#">
<div class="slice">
REFORM
</div>
</a>
